stages:
  - login
  - build
  - scan
  - push

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

  FRONT_IMAGE: "$HARBOR_REGISTRY/$HARBOR_PROJECT/frontend"
  BACK_IMAGE:  "$HARBOR_REGISTRY/$HARBOR_PROJECT/backend"

default:
  image: docker:27
  services:
    - name: docker:27-dind
      alias: docker
      command: ["--tls=false", "--host=tcp://0.0.0.0:2375", "--insecure-registry=harbor.host:8086"]

# LOGIN -------------------------------------------------------------

login-harbor:
  stage: login
  script:
    - echo "$HARBOR_PASSWORD" | docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
  only:
    - main
    - develop
    - merge_requests

# BUILD FRONT -------------------------------------------------------

build-frontend:
  stage: build
  script:
    - docker build -t "$FRONT_IMAGE:$CI_COMMIT_SHORT_SHA" frontend/
    - docker tag "$FRONT_IMAGE:$CI_COMMIT_SHORT_SHA" "$FRONT_IMAGE:latest"
  only:
    - main
    - develop
    - merge_requests

# BUILD BACK --------------------------------------------------------

build-backend:
  stage: build
  script:
    - docker build -t "$BACK_IMAGE:$CI_COMMIT_SHORT_SHA" backend/
    - docker tag "$BACK_IMAGE:$CI_COMMIT_SHORT_SHA" "$BACK_IMAGE:latest"
  only:
    - main
    - develop
    - merge_requests

# SCAN --------------------------------------------------------------

scan-trivy:
  stage: scan
  script:
    - trivy image --scanners vuln "$FRONT_IMAGE:$CI_COMMIT_SHORT_SHA"
    - trivy image --scanners vuln "$BACK_IMAGE:$CI_COMMIT_SHORT_SHA"
  only:
    - main
    - develop
    - merge_requests

# PUSH FRONT --------------------------------------------------------

push-frontend:
  stage: push
  script:
    - echo "$HARBOR_PASSWORD" | docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
    - docker push "$FRONT_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$FRONT_IMAGE:latest"
  only:
    - main

# PUSH BACK ---------------------------------------------------------

push-backend:
  stage: push
  script:
    - echo "$HARBOR_PASSWORD" | docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
    - docker push "$BACK_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$BACK_IMAGE:latest"
  only:
    - main
