stages:
  - login
  - scan
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_VERIFY: "0"

  FRONT_IMAGE: $HARBOR_REGISTRY/$HARBOR_PROJECT/frontend
  BACK_IMAGE: $HARBOR_REGISTRY/$HARBOR_PROJECT/backend

default:
  image: docker:27
  services:
    - name: docker:27-dind
      alias: docker

docker-login:
  stage: login
  script:
    - echo "$HARBOR_PASSWORD" | docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
  artifacts:
    expire_in: 1 hour
    reports:
      dotenv: login.env   
  only:
    - main
    - develop
    - merge_requests

scan-trivy:
  stage: scan
  image: aquasec/trivy:latest
  script:
    - echo "Analyse de sécurité avec Trivy"
    - trivy fs --exit-code 1 --severity HIGH,CRITICAL --no-progress .
  needs:
    - docker-login
  only:
    - main
    - develop
    - merge_requests

build-frontend:
  stage: build
  needs: ["docker-login"]
  script:
    - echo " Build frontend"
    - docker build -t $FRONT_IMAGE:$CI_COMMIT_SHORT_SHA frontend/
    - docker tag $FRONT_IMAGE:$CI_COMMIT_SHORT_SHA $FRONT_IMAGE:latest
  artifacts:
    paths:
      - .docker/frontend_built
    expire_in: 2 hours

build-backend:
  stage: build
  needs: ["docker-login"]
  script:
    - echo "Build backend"
    - docker build -t $BACK_IMAGE:$CI_COMMIT_SHORT_SHA backend/
    - docker tag $BACK_IMAGE:$CI_COMMIT_SHORT_SHA $BACK_IMAGE:latest
  artifacts:
    paths:
      - .docker/backend_built
    expire_in: 2 hours

push-images:
  stage: push
  needs:
    - build-frontend
    - build-backend
    - docker-login
  script:
    - echo "Push des images vers Harbor ($HARBOR_PROJECT)"

    # FRONTEND
    - docker push $FRONT_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $FRONT_IMAGE:latest

    # BACKEND
    - docker push $BACK_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $BACK_IMAGE:latest

  only:
    - main
