stages:
  - login
  - build
  - push
  - debug

variables:
  HARBOR_REGISTRY: "harbor.host:8086"
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""                 # TLS désactivé
  BACKEND_IMAGE: "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend"
  FRONTEND_IMAGE: "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend"

docker_login:
  stage: login
  image: "docker:latest"
  services:
    - name: docker:dind
      command: ["--tls=false","--insecure-registry=harbor.host:8086"]  # ton domaine ou IP Harbor
  variables:
    HARBOR_REGISTRY: "harbor.host:8086"
    DOCKER_TLS_CERTDIR: ""  # désactive TLS entre le client et le daemon Docker DinD
  before_script:
    # Si ton Harbor est local, ajoute son IP au /etc/hosts
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
  script:
    - echo "$HARBOR_PASSWORD" | docker login "http://$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
  only:
    - main

build:
  stage: build
  image: "docker:latest"
  services:
    - name: docker:dind
      command: ["--tls=false", "--dns=8.8.8.8", "--insecure-registry=harbor.host:8086"]
  variables:
    HARBOR_REGISTRY: "harbor.host:8086"
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: "tcp://docker:2375"
  before_script:
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
  script:
    - docker build -t "$HARBOR_REGISTRY/$HARBOR_PROJECT/backend:$CI_COMMIT_SHA" ./backend
    - docker build -t "$HARBOR_REGISTRY/$HARBOR_PROJECT/frontend:$CI_COMMIT_SHA" ./frontend
  only:
    - main

push_images:
  stage: push
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      alias: docker
      command: ["--tls=false", "--insecure-registry=$HARBOR_REGISTRY"]
  before_script:
    - until docker info; do sleep 1; done
    - echo "$HARBOR_PASSWORD" | docker login -u "$HARBOR_USERNAME" --password-stdin "$HARBOR_REGISTRY"
  script:
    - docker push "$BACKEND_IMAGE:$CI_COMMIT_SHA"
    - docker push "$FRONTEND_IMAGE:$CI_COMMIT_SHA"
    - |
      if [ "$CI_COMMIT_REF_NAME" == "main" ]; then
        docker tag "$BACKEND_IMAGE:$CI_COMMIT_SHA" "$BACKEND_IMAGE:latest"
        docker push "$BACKEND_IMAGE:latest"
        docker tag "$FRONTEND_IMAGE:$CI_COMMIT_SHA" "$FRONTEND_IMAGE:latest"
        docker.push "$FRONTEND_IMAGE:latest"
      fi

debug:
  stage: debug
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      alias: docker
      command: ["--tls=false", "--insecure-registry=$HARBOR_REGISTRY"]
  before_script:
    - until docker info; do sleep 1; done
  script:
    - docker info
    - curl -v http://docker:2375/version
