stages:
  - test

docker_dns_test:
  stage: test
  image: docker:27

  services:
    - name: docker:27-dind
      alias: docker
      command: ["--tls=false", "--host=tcp://0.0.0.0:2375"]

  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo ">>> docker info"
    - docker info

    - echo ">>> Pull alpine"
    - docker pull alpine:latest

    - echo ">>> Test DNS inside Alpine"
    - docker run --rm alpine sh -c "apk add --no-cache bind-tools && nslookup google.com"
