stages:
  - build

default:
  image: docker:24.0.7-cli
  services:
    - name: docker:24.0.7-dind
      command: ["--tls=false", "--dns=8.8.8.8", "--dns=1.1.1.1"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add curl
    - ping -c 4 google.com
    - curl -I https://registry-1.docker.io

build_frontend:
  stage: build
  script:
    - cd frontend
    - docker build -t harbor.host:8086/mardi/frontend:latest .
    - docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" -p "$HARBOR_PASSWORD"
    - docker push harbor.host:8086/mardi/frontend:latest

build_backend:
  stage: build
  script:
    - cd backend
    - docker build -t harbor.host:8086/mardi/backend:latest .
    - docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" -p "$HARBOR_PASSWORD"
    - docker push harbor.host:8086/mardi/backend:latest
