stages:
  - login
  - build
  - push
  - debug

variables:
  HARBOR_REGISTRY: "harbor.host:8086"
  DOCKER_TLS_CERTDIR: ""
  # On met aussi le DOCKER_HOST pour DinD
  DOCKER_HOST: "tcp://docker:2375"
  # Projet harbor : adaptez « monprojet » à votre valeur
  HARBOR_PROJECT: "mardi"
  DOCKER_DRIVER: "overlay2"

docker_login:
  stage: login
  image: "docker:latest"
  services:
    - name: docker:dind
      command: ["--tls=false","--insecure-registry=harbor.host:8086"]  # ton domaine ou IP Harbor
  variables:
    HARBOR_REGISTRY: "harbor.host:8086"
    DOCKER_TLS_CERTDIR: ""  # désactive TLS entre le client et le daemon Docker DinD
  before_script:
    # Si ton Harbor est local, ajoute son IP au /etc/hosts
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
  script:
    - echo "$HARBOR_PASSWORD" | docker login "http://$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" --password-stdin
  only:
    - main

build:
  stage: build
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      alias: docker
      command: ["--tls=false", "--insecure-registry=${HARBOR_REGISTRY}"]
  before_script:
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
  script:
    - docker build -t "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend:${CI_COMMIT_SHA}" ./backend
    - docker build -t "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend:${CI_COMMIT_SHA}" ./frontend
  only:
    - main

push_images:
  stage: push
  image: "docker:latest"
  services:
    - name: docker:dind
      alias: docker
      command: ["--tls=false", "--insecure-registry=${HARBOR_REGISTRY}"]
  before_script:
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
    - until docker info; do sleep 1; done
    - echo "$HARBOR_PASSWORD" | docker login "http://${HARBOR_REGISTRY}" -u "$HARBOR_USERNAME" --password-stdin
  script:
    - docker push "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend:${CI_COMMIT_SHA}"
    - docker push "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend:${CI_COMMIT_SHA}"
    - |
      if [ "$CI_COMMIT_REF_NAME" == "main" ]; then
        docker tag "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend:${CI_COMMIT_SHA}" "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend:latest"
        docker push "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/backend:latest"
        docker tag "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend:${CI_COMMIT_SHA}" "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend:latest"
        docker push "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/frontend:latest"
      fi
  only:
    - main

debug:
  stage: debug
  image: "docker:latest"
  services:
    - name: docker:dind
      alias: docker
      command: ["--tls=false", "--insecure-registry=${HARBOR_REGISTRY}"]
  before_script:
    - echo "192.168.88.116 harbor.host" >> /etc/hosts
    - until docker info; do sleep 1; done
  script:
    - docker info
    - curl -v http://docker:2375/version
  only:
    - main
