stages:
  - test

docker_dns_test:
  stage: test
  image: docker:27

  services:
    - name: docker:27-dind
      alias: docker
      command: ["--tls=false", "--host=tcp://0.0.0.0:2375"]

  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
    # Fix DNS inside dind
    DOCKER_DAEMON_JSON: |
      {
        "dns": ["8.8.8.8", "1.1.1.1"],
        "ipv6": false
      }

  script:
    - echo ">>> docker info"
    - docker info

    - echo ">>> Pull alpine"
    - docker pull alpine:latest

    - echo ">>> Run test container"
    - docker run --rm alpine nslookup google.com
