stages:
  - test

dns_container_test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - echo "Lancement du conteneur de test..."
    - docker run -d --name testnet alpine:latest sleep 200

    - echo "Install tools inside container..."
    - docker exec testnet apk add --no-cache bind-tools iputils

    - echo "Test ping..."
    - docker exec testnet ping -c 3 8.8.8.8

    - echo "Test DNS..."
    - docker exec testnet nslookup google.com

    - echo "DNS OK"
