stages:
  - build

build_frontend:
  stage: build
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      #command: ["--tls=false", "--insecure-registry=harbor.host:8086"]
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - ping -c 4 google.com
    - curl -I https://registry-1.docker.io
  script:
    - cd frontend
    - docker build -t harbor.host:8086/mardi/frontend:latest .
    - docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" -p "$HARBOR_PASSWORD"
    - docker push harbor.host:8086/mardi/frontend:latest

build_backend:
  stage: build
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      #command: ["--tls=false", "--insecure-registry=harbor.host:8086"]
  
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - ping -c 4 google.com
    - curl -I https://registry-1.docker.io
  script:
    - cd backend
    - docker build -t harbor.host:8086/mardi/backend:latest .
    - docker login "$HARBOR_REGISTRY" -u "$HARBOR_USERNAME" -p "$HARBOR_PASSWORD"
    - docker push harbor.host:8086/mardi/backend:latest
